body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background: linear-gradient(135deg, #FCE8B9, #ffffff);
        }

        header {
            background: linear-gradient(135deg, #FCE8B9, #ffffff);
            color: #251f5c;
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: Cascadia Code;
            
        }

        header .logo {
            font-size: 1.5em;
            font-weight: bold;
            
        }

        header nav a {
            color: inherit;
            text-decoration: none; 
            margin: 0 15px;
           
        }

        header nav a:hover {
            text-decoration: none;
        }

        header a {
            text-decoration: none;
        }

        .hero {
            background-image: url(sfnew.jpg);
            background-size: cover;
            background-position: center;
            color: #303075;
            text-align: center;
            padding: 100px 45px;
        }

        .hero h1 {
            font-size: 3em;
        }

        .hero p {
            font-size: 1.2em;
        }
    

        .products {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
            padding: 20px;
        }

        .product {
            border: 1px solid #ddd;
            border-radius: 8px;
            overflow: hidden;
            text-align: center;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .product img {
            width: 100%;
            height: auto;
        }

        .product h3 {
            margin: 10px 0;
        }

        .product p {
            color: #555;
        }

        .product button {
            background-color: #333;
            color: white;
            border: none;
            padding: 10px 20px;
            margin: 10px 0;
            cursor: pointer;
            border-radius: 4px;
        }

        .product button:hover {
            background-color: #555;
        }

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px 20px;
            margin-top: 20px;
        }

        footer p {
            margin: 0;
        }